body {
    background-color: rgb(26, 26, 26);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.intro-name {
    color: rgb(221, 221, 218);
    text-align: center;
    font-size: 2rem;
    font-family: sans-serif;
    width: auto;
    top: 35vh;
    position: fixed;
}

.navbar {
    height: 6vh;
    width: 100%;
    background-color: rgb(39, 39, 39);
    position: fixed;
    top: 0;
    z-index: 999;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 0 1vh 0;
    container-type: size;
}

.navbar-settings {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2vh;
    gap: 2vh;
}

.navbar-settings-link {
    position:relative;
    color: rgb(39, 39, 39);
    font-size: 30cqh;
    border-radius: 30cqh;
    border: 10cqh solid rgb(221, 221, 218);
    background: rgb(221, 221, 218);
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.navbar-settings-link:hover {
    background: rgb(187, 187, 187);
    border: 10cqh solid rgb(187, 187, 187);
    box-shadow: 0 0 10px 0.25rem rgba(0, 0, 0, 0.582);
    transition: background 0.25s, border 0.25s, box-shadow 0.25s;
}

.navbar-logo {
    margin-left: 2vh;
    max-height: 80%;
}

.query-location {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 35vw;
    left: 0;
    right: 0;
    margin: auto auto;
    border-radius: 2rem;
    padding: 1.4rem 2rem 1.6rem;
    background: rgb(39, 39, 39);
    box-shadow: 0 0 1vh 0;
    z-index: 999;
    top:45vh;
}

.query-location textarea {
    resize: none;
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 5vh;
    max-height: 30vh;
    box-sizing: border-box;
    flex-grow: 1;
    color: rgb(221, 221, 218);
    font-size: 1rem;
    background: rgb(39, 39, 39);
    border: none;
    outline: none;
    padding-right: 8px;
    cursor: auto;
    font-family: "Verdana";
}

.query-location textarea::placeholder {
  color: #88898a;
}

.query-location textarea::-webkit-scrollbar {
    width: 8px;
}
.query-location textarea::-webkit-scrollbar-thumb {
    background-color: rgb(110, 110, 110);
    border-radius: 20px;
}
.query-location textarea::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.conversation {
    top:10vh;
    position: absolute;
    color: rgb(221, 221, 218);
    font-size: 1.25rem;
    font-family: "Verdana";
    width: 80%;
    display:flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

.user-message {
    background: rgb(39, 39, 39);
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border-radius: 2rem;
    box-shadow: 0.5rem 0.25rem 1rem 0 rgb(0, 0, 0);
    margin-left: auto;
    max-width: 40rem;
}

.response-message {
    background: rgb(39, 39, 39);
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border-radius: 2rem;
    box-shadow: -0.5rem 0.25rem 1rem 0 rgb(0, 0, 0);
    margin-right: auto;
    max-width: 40rem;
}