<!DOCTYPE html>
<html>
    <head>
        <title>RadioGPT</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/query.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}" />
        <script type= "text/javascript" src="{{ url_for('static',filename='javascript/autoscroll.js') }}"></script>
        <script type= "text/javascript" src="{{ url_for('static',filename='javascript/queries.js') }}"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <link rel="icon" type="image/x-icon" href="/static/images/logo-outline.png">
        <div class="navbar">
            <a class="navbar-logo" href="{{ url_for('main.index') }}"><img src="/static/images/logo-outline.png"></a>
        </div>
    </head>
    <body>
        <h1 id='welcome-text' class="intro-name">RadioGPT</h1>
        <form id="query">
            <div id="query-location" class="query-location">
                <textarea maxlength="2056" id="user-query-input" placeholder="Ask me anything..."></textarea>
            </div>
        </form>
        <div id="conversation-area" class="conversation">
        </div>
    </body>

</html>